# RewriteEngine On

# Redirect 301 /dubai-visa https://makemydocuments.com/dubai-tourist-visa-for-indians
# Redirect 301 /hongkong-visa https://makemydocuments.com/hong-kong-tourist-visa-for-indians
# Redirect 301 /indonesia-visa https://makemydocuments.com/indonesia-tourist-visa-for-indians
# Redirect 301 /vietnam-visa https://makemydocuments.com/vietnam-tourist-visa-for-indians
